In [2]:
from common import *

In [3]:
temp = np.random.permutation(np.arange(20)).reshape([5, 4])
temp = pd.DataFrame(temp, columns='a b c d'.split(), index=[101, 102, 103, 104, 105])
temp.index.name = 'index'; temp.columns.name = 'columns'
temp.iloc[0, 1] = temp.iloc[3, 2] = temp.iloc[1, 2] = temp.iloc[4, 3] = np.nan
temp

columns   a     b     c     d
index
101       7   NaN   9.0   4.0
102      15  13.0   NaN  12.0
103      19   5.0  17.0  11.0
104      14   2.0   NaN   1.0
105      16   8.0   3.0   NaN

In [4]:
bot = 0
thing = temp.append(pd.Series(bot, index=temp.columns), ignore_index=True)
thing

columns   a     b     c     d
0         7   NaN   9.0   4.0
1        15  13.0   NaN  12.0
2        19   5.0  17.0  11.0
3        14   2.0   NaN   1.0
4        16   8.0   3.0   NaN
5         0   0.0   0.0   0.0

In [5]:
# note ignore_index=True resets the index

In [6]:
other = 1 - thing.rank(pct=True, ascending=False, method='max')
other = other.drop(other.index[-1])
other.index = temp.index
other

columns         a    b     c    d
index
101      0.166667  NaN  0.50  0.4
102      0.500000  0.8   NaN  0.8
103      0.833333  0.4  0.75  0.6
104      0.333333  0.2   NaN  0.2
105      0.666667  0.6  0.25  NaN

## sort_by

In [7]:
X, key, order = temp, temp, None
if order is None:
    if isinstance(key, pd.DataFrame):
        key = key.values
    order = key.argsort(axis=0)
values = X
if isinstance(X, pd.DataFrame):
    values = values.values
ret = values[order, np.arange(X.shape[1])]

In [8]:
ret

array([[  7.,   2.,   3.,   1.],
       [ 14.,   5.,   9.,   4.],
       [ 15.,   8.,  17.,  11.],
       [ 16.,  13.,  nan,  12.],
       [ 19.,  nan,  nan,  nan]])