In [2]:
from common import *
import gc

/home/ec2-user/anaconda3/lib/python3.6/site-packages/pandas/core/common.py:701: RuntimeWarning: divide by zero encountered in log
  return func(obj, *args, **kwargs)

#### XGBoost

In [3]:
################### 64 GB not enough for xg__hard.wqtl!
info = dict(
    x3__easy = ('x3g', combos.union(combos.mintco(6, 2, 1), combos.mintco0(6, 4, 1), combos.mintco0(6, 3, 2))),
    #x3__hard = ('x3agh', combos.union(combos.mintco(8, 2, 1), combos.mintco0(8, 4, 1), combos.mintco0(8, 3, 2))),
    xg__easy = ('xg_', combos.union(combos.mintco(7, 2, 1), combos.mintco0(7, 6, 1))),
    #xg__hard = ('xg_', combos.union(combos.mintco(7, 4, 1), combos.mintco0(7, 6, 1), combos.mintco0(7, 3, 2))),
)
for fname, (feat, coefs) in info.items():
    gc.collect()
    print(fname, 'BEGIN')
    save_dir = big_dir + 'data/features/' # <1////////////
    feats = globals()[feat + 'feats']
    names = combos.name.index
    dhlin = dh[feats]
    dhlog = np.log(dhlin.replace(0, np.exp(-93))) # <5=======================
    thedh = dhlog
    pathname = save_dir + '{}' + fname + '{}'
    ########################################################
    cols = []
    for ii, c in enumerate(coefs):
        print(ii, '/', len(coefs))
        col = sum(thedh.iloc[:, i] * a for i, a in enumerate(c) if a != 0)
        col.name = fname + '.sgnint(' + names(c) + ')'
        cols += [col]
    tots = pd.concat(cols, axis=1)
    ########################################################
    del cols; gc.collect()
    #tots.to_hdf(save_dir + 'il64/' + fname + '.' + cname, key='a', mode='w')
    #tots.astype(np.float32).to_hdf(pathname.format('xgbf/il32/', ''), key='a', mode='w')
    ###
    o = O(); def_W(o); def_X(o, tots, include='wnrm')
    del tots; gc.collect()
    o.Xwnrm.astype(np.float32).makeil_like(dh).to_hdf(pathname.format('xgbf/il32/', '.wnrm'), key='a', mode='w')
    #//////////////////////////////////////////////////
    print(fname, 'END')
    del o; gc.collect()

x3__easy BEGIN
0 / 141
1 / 141
2 / 141
3 / 141
4 / 141
5 / 141
6 / 141
7 / 141
8 / 141
9 / 141
10 / 141
11 / 141
12 / 141
13 / 141
14 / 141
15 / 141
16 / 141
17 / 141
18 / 141
19 / 141
20 / 141
21 / 141
22 / 141
23 / 141
24 / 141
25 / 141
26 / 141
27 / 141
28 / 141
29 / 141
30 / 141
31 / 141
32 / 141
33 / 141
34 / 141
35 / 141
36 / 141
37 / 141
38 / 141
39 / 141
40 / 141
41 / 141
42 / 141
43 / 141
44 / 141
45 / 141
46 / 141
47 / 141
48 / 141
49 / 141
50 / 141
51 / 141
52 / 141
53 / 141
54 / 141
55 / 141
56 / 141
57 / 141
58 / 141
59 / 141
60 / 141
61 / 141
62 / 141
63 / 141
64 / 141
65 / 141
66 / 141
67 / 141
68 / 141
69 / 141
70 / 141
71 / 141
72 / 141
73 / 141
74 / 141
75 / 141
76 / 141
77 / 141
78 / 141
79 / 141
80 / 141
81 / 141
82 / 141
83 / 141
84 / 141
85 / 141
86 / 141
87 / 141
88 / 141
89 / 141
90 / 141
91 / 141
92 / 141
93 / 141
94 / 141
95 / 141
96 / 141
97 / 141
98 / 141
99 / 141
100 / 141
101 / 141
102 / 141
103 / 141
104 / 141
105 / 141
106 / 141
107 / 141
108 / 141
109 / 141
110 / 141
111 / 141
112 / 141
113 / 141
114 / 141
115 / 141
116 / 141
117 / 141
118 / 141
119 / 141
120 / 141
121 / 141
122 / 141
123 / 141
124 / 141
125 / 141
126 / 141
127 / 141
128 / 141
129 / 141
130 / 141
131 / 141
132 / 141
133 / 141
134 / 141
135 / 141
136 / 141
137 / 141
138 / 141
139 / 141
140 / 141

/home/ec2-user/Notebooks/g-research-ffc2018/helper/weighted.ipynb:11: RuntimeWarning: invalid value encountered in true_divide
  "import notebook_import_hook\n",
/home/ec2-user/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1901: RuntimeWarning: invalid value encountered in greater
  cond1 = (0 < q) & (q < 1)
/home/ec2-user/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1901: RuntimeWarning: invalid value encountered in less
  cond1 = (0 < q) & (q < 1)

x3__easy END
xg__easy BEGIN
0 / 224
1 / 224
2 / 224
3 / 224
4 / 224
5 / 224
6 / 224
7 / 224
8 / 224
9 / 224
10 / 224
11 / 224
12 / 224
13 / 224
14 / 224
15 / 224
16 / 224
17 / 224
18 / 224
19 / 224
20 / 224
21 / 224
22 / 224
23 / 224
24 / 224
25 / 224
26 / 224
27 / 224
28 / 224
29 / 224
30 / 224
31 / 224
32 / 224
33 / 224
34 / 224
35 / 224
36 / 224
37 / 224
38 / 224
39 / 224
40 / 224
41 / 224
42 / 224
43 / 224
44 / 224
45 / 224
46 / 224
47 / 224
48 / 224
49 / 224
50 / 224
51 / 224
52 / 224
53 / 224
54 / 224
55 / 224
56 / 224
57 / 224
58 / 224
59 / 224
60 / 224
61 / 224
62 / 224
63 / 224
64 / 224
65 / 224
66 / 224
67 / 224
68 / 224
69 / 224
70 / 224
71 / 224
72 / 224
73 / 224
74 / 224
75 / 224
76 / 224
77 / 224
78 / 224
79 / 224
80 / 224
81 / 224
82 / 224
83 / 224
84 / 224
85 / 224
86 / 224
87 / 224
88 / 224
89 / 224
90 / 224
91 / 224
92 / 224
93 / 224
94 / 224
95 / 224
96 / 224
97 / 224
98 / 224
99 / 224
100 / 224
101 / 224
102 / 224
103 / 224
104 / 224
105 / 224
106 / 224
107 / 224
108 / 224
109 / 224
110 / 224
111 / 224
112 / 224
113 / 224
114 / 224
115 / 224
116 / 224
117 / 224
118 / 224
119 / 224
120 / 224
121 / 224
122 / 224
123 / 224
124 / 224
125 / 224
126 / 224
127 / 224
128 / 224
129 / 224
130 / 224
131 / 224
132 / 224
133 / 224
134 / 224
135 / 224
136 / 224
137 / 224
138 / 224
139 / 224
140 / 224
141 / 224
142 / 224
143 / 224
144 / 224
145 / 224
146 / 224
147 / 224
148 / 224
149 / 224
150 / 224
151 / 224
152 / 224
153 / 224
154 / 224
155 / 224
156 / 224
157 / 224
158 / 224
159 / 224
160 / 224
161 / 224
162 / 224
163 / 224
164 / 224
165 / 224
166 / 224
167 / 224
168 / 224
169 / 224
170 / 224
171 / 224
172 / 224
173 / 224
174 / 224
175 / 224
176 / 224
177 / 224
178 / 224
179 / 224
180 / 224
181 / 224
182 / 224
183 / 224
184 / 224
185 / 224
186 / 224
187 / 224
188 / 224
189 / 224
190 / 224
191 / 224
192 / 224
193 / 224
194 / 224
195 / 224
196 / 224
197 / 224
198 / 224
199 / 224
200 / 224
201 / 224
202 / 224
203 / 224
204 / 224
205 / 224
206 / 224
207 / 224
208 / 224
209 / 224
210 / 224
211 / 224
212 / 224
213 / 224
214 / 224
215 / 224
216 / 224
217 / 224
218 / 224
219 / 224
220 / 224
221 / 224
222 / 224
223 / 224

/home/ec2-user/Notebooks/g-research-ffc2018/helper/weighted.ipynb:11: RuntimeWarning: invalid value encountered in true_divide
  "import notebook_import_hook\n",

xg__easy END

#### TheAlg

In [3]:
for F, C in itertools.product(['xg'], [-93, -194]):
    gc.collect()
    print(F, C, 'BEGIN')
    save_dir = big_dir + 'data/features/' # <1////////////
    feats = O(xg=xgfeats, x3=x3feats)[F] # <2=======================================
    names = combos.name.index
    dhlin = dh[feats]
    dhlog = np.log(dhlin.replace(0, np.exp(C))) # <5=======================
    thedh = dhlog # <4=========================================
    fname = F + '.log.zc(' + str(C) + ')' # <24=========================================
    coefs = combos.union(combos.mintco0(len(feats), 6, 1), combos.mintco0(len(feats), 3, 2)) # <3===============
    cname = 'mintco0[6,1][3,2]' # <3=================================
    pathname = save_dir + '{}' + fname + '.' + cname + '{}'
    ########################################################
    cols = []
    for ii, c in enumerate(coefs):
        print(ii, '/', len(coefs))
        col = sum(thedh.iloc[:, i] * a for i, a in enumerate(c) if a != 0)
        col.name = fname + '.sgnint(' + names(c) + ')'
        cols += [col]
    tots = pd.concat(cols, axis=1)
    ########################################################
    del cols; gc.collect()
    tots.to_hdf(save_dir + 'il64/' + fname + '.' + cname, key='a', mode='w')
    the = tots.astype(np.float32)
    the.to_hdf(pathname.format('il32/', ''), key='a', mode='w')
    the.makesw().to_hdf(pathname.format('sw32/', ''), key='a', mode='w')
    ###
    the = tots.pipe(np.exp).colname_append('.exp').astype(np.float32)
    the.to_hdf(pathname.format('il32/', '.exp'), key='a', mode='w')
    the.makesw().to_hdf(pathname.format('sw32/', '.exp'), key='a', mode='w')
    the = None
    ###
    o = O(); def_W(o); def_X(o, tots, include='wqtl wnrm')
    del the, tots; gc.collect()
    the = o.Xwqtl.astype(np.float32)
    the.to_hdf(pathname.format('sw32/', '.wqtl'), key='a', mode='w')
    the.makeil_like(dh).to_hdf(pathname.format('il32/', '.wqtl'), key='a', mode='w')
    the = o.Xwnrm.astype(np.float32)
    the.to_hdf(pathname.format('sw32/', '.wnrm'), key='a', mode='w')
    the.makeil_like(dh).to_hdf(pathname.format('il32/', '.wnrm'), key='a', mode='w')
    #//////////////////////////////////////////////////
    print(F, C, 'END')
    del the, o; gc.collect()

xg -93 BEGIN
0 / 130
1 / 130
2 / 130
3 / 130
4 / 130
5 / 130
6 / 130
7 / 130
8 / 130
9 / 130
10 / 130
11 / 130
12 / 130
13 / 130
14 / 130
15 / 130
16 / 130
17 / 130
18 / 130
19 / 130
20 / 130
21 / 130
22 / 130
23 / 130
24 / 130
25 / 130
26 / 130
27 / 130
28 / 130
29 / 130
30 / 130
31 / 130
32 / 130
33 / 130
34 / 130
35 / 130
36 / 130
37 / 130
38 / 130
39 / 130
40 / 130
41 / 130
42 / 130
43 / 130
44 / 130
45 / 130
46 / 130
47 / 130
48 / 130
49 / 130
50 / 130
51 / 130
52 / 130
53 / 130
54 / 130
55 / 130
56 / 130
57 / 130
58 / 130
59 / 130
60 / 130
61 / 130
62 / 130
63 / 130
64 / 130
65 / 130
66 / 130
67 / 130
68 / 130
69 / 130
70 / 130
71 / 130
72 / 130
73 / 130
74 / 130
75 / 130
76 / 130
77 / 130
78 / 130
79 / 130
80 / 130
81 / 130
82 / 130
83 / 130
84 / 130
85 / 130
86 / 130
87 / 130
88 / 130
89 / 130
90 / 130
91 / 130
92 / 130
93 / 130
94 / 130
95 / 130
96 / 130
97 / 130
98 / 130
99 / 130
100 / 130
101 / 130
102 / 130
103 / 130
104 / 130
105 / 130
106 / 130
107 / 130
108 / 130
109 / 130
110 / 130
111 / 130
112 / 130
113 / 130
114 / 130
115 / 130
116 / 130
117 / 130
118 / 130
119 / 130
120 / 130
121 / 130
122 / 130
123 / 130
124 / 130
125 / 130
126 / 130
127 / 130
128 / 130
129 / 130

/home/ec2-user/Notebooks/g-research-ffc2018/helper/weighted.ipynb:11: RuntimeWarning: invalid value encountered in true_divide
  "import notebook_import_hook\n",
/home/ec2-user/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1901: RuntimeWarning: invalid value encountered in greater
  cond1 = (0 < q) & (q < 1)
/home/ec2-user/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1901: RuntimeWarning: invalid value encountered in less
  cond1 = (0 < q) & (q < 1)

xg -93 END
xg -194 BEGIN
0 / 130
1 / 130
2 / 130
3 / 130
4 / 130
5 / 130
6 / 130
7 / 130
8 / 130
9 / 130
10 / 130
11 / 130
12 / 130
13 / 130
14 / 130
15 / 130
16 / 130
17 / 130
18 / 130
19 / 130
20 / 130
21 / 130
22 / 130
23 / 130
24 / 130
25 / 130
26 / 130
27 / 130
28 / 130
29 / 130
30 / 130
31 / 130
32 / 130
33 / 130
34 / 130
35 / 130
36 / 130
37 / 130
38 / 130
39 / 130
40 / 130
41 / 130
42 / 130
43 / 130
44 / 130
45 / 130
46 / 130
47 / 130
48 / 130
49 / 130
50 / 130
51 / 130
52 / 130
53 / 130
54 / 130
55 / 130
56 / 130
57 / 130
58 / 130
59 / 130
60 / 130
61 / 130
62 / 130
63 / 130
64 / 130
65 / 130
66 / 130
67 / 130
68 / 130
69 / 130
70 / 130
71 / 130
72 / 130
73 / 130
74 / 130
75 / 130
76 / 130
77 / 130
78 / 130
79 / 130
80 / 130
81 / 130
82 / 130
83 / 130
84 / 130
85 / 130
86 / 130
87 / 130
88 / 130
89 / 130
90 / 130
91 / 130
92 / 130
93 / 130
94 / 130
95 / 130
96 / 130
97 / 130
98 / 130
99 / 130
100 / 130
101 / 130
102 / 130
103 / 130
104 / 130
105 / 130
106 / 130
107 / 130
108 / 130
109 / 130
110 / 130
111 / 130
112 / 130
113 / 130
114 / 130
115 / 130
116 / 130
117 / 130
118 / 130
119 / 130
120 / 130
121 / 130
122 / 130
123 / 130
124 / 130
125 / 130
126 / 130
127 / 130
128 / 130
129 / 130

/home/ec2-user/Notebooks/g-research-ffc2018/helper/weighted.ipynb:11: RuntimeWarning: invalid value encountered in true_divide
  "import notebook_import_hook\n",

xg -194 END

#### window

In [2]:
for F, C in itertools.product(['x3', 'xx'], [-93]):
    gc.collect()
    print(F, C, 'BEGIN')
    save_dir = big_dir + 'data/features/' # <1////////////
    feats = O(xx=xxfeats, x3=x3feats)[F] # <2=======================================
    names = combos.name.index
    dhlin = dh[feats]
    dhlog = np.log(dhlin.replace(0, np.exp(C))) # <5=======================
    thedh = dhlin # <4=========================================
    fname = F# + '.log.zc(' + str(C) + ')' # <24=========================================
    pathname = save_dir + '{}' + fname + '{}'
    ######################################################################
    grp = dh.Stock
    grpby = thedh.groupby(grp)
    tots = []
    _sym_ = '{}'
    print('# flat and before')
    for n in [1, 2, 3, 4, 5, 7, 9]:
        print(n)
        form = f'.window(<{n}>!{_sym_})'
        avg = grpby.apply(lambda x: x.rolling(n, 1).mean().shift(1))
        cnt = grpby.apply(lambda x: x.rolling(n, 1).count().shift(1))
        plus = (avg * cnt + thedh) / (cnt + 1)
        diff = thedh - avg
        ratio = thedh / avg
        guys = [df for df in [plus, diff, ratio]]
        for df, sym in zip(guys, '+ - /'.split()):
            df.columns = [s + form.format(sym) for s in df.columns]
        tots += guys
    print('# flat and after')
    for n in [1, 2, 3, 4, 5, 7, 9]:
        print(n)
        form = f'.window(!<{n}>{_sym_})'
        avg = grpby.apply(lambda x: x.rolling(n, 1).mean().shift(-n))
        cnt = grpby.apply(lambda x: x.rolling(n, 1).count().shift(-n))
        plus = (avg * cnt + thedh) / (cnt + 1)
        diff = thedh - avg
        ratio = thedh / avg
        guys = [df for df in [plus, diff, ratio]]
        for df, sym in zip(guys, '+ - /'.split()):
            df.columns = [s + form.format(sym) for s in df.columns]
        tots += guys
    print('# flat and middle')
    for n in [3, 5, 7, 9, 11]:
        print(n)
        form = f'.window(<<{n}>>{_sym_})'
        avg = grpby.apply(lambda x: x.rolling(n, 3, center=True).mean())
        cnt = grpby.apply(lambda x: x.rolling(n, 3, center=True).count())
        plus = avg + thedh * 0
        diff = (thedh - avg) * cnt / (cnt - 1)
        ratio = thedh / (thedh - diff)
        std = grpby.apply(lambda x: x.rolling(n, 3, center=True).std())
        stdr = thedh / std
        guys = [df for df in [plus, diff, ratio, std, stdr]]
        for df, sym in zip(guys, '+ - / ~ ~/'.split()):
            df.columns = [s + form.format(sym) for s in df.columns]
        tots += guys
    print('# triangle and middle')
    for n in [3, 5, 7, 9, 11, 19]:
        print(n)
        form = f'.window(<^{n}^>{_sym_})'
        avg = grpby.apply(lambda x: x.rolling(n, 3, center=True, win_type='triang').mean())
        sum = grpby.apply(lambda x: x.rolling(n, 3, center=True, win_type='triang').sum())
        plus = avg + thedh * 0
        other = (sum - thedh) / (sum / avg - 1)
        diff = thedh - other
        ratio = thedh / other
        guys = [df for df in [plus, diff, ratio]]
        for df, sym in zip(guys, '+ - /'.split()):
            df.columns = [s + form.format(sym) for s in df.columns]
        tots += guys
    print('# exp and before')
    for n in [2, 3, 4, 5, 7, 10, 15]:
        print(n)
        form = f'.window(<{n}>*!{_sym_})'
        alpha = 2 / (n + 1)
        avg = grpby.apply(lambda x: x.ewm(span=n, min_periods=1, adjust=False).mean().shift(1))
        plus = thedh * alpha + avg * (1 - alpha)
        diff = thedh - avg
        ratio = thedh / avg
        guys = [df for df in [plus, diff, ratio]]
        for df, sym in zip(guys, '+ - /'.split()):
            df.columns = [s + form.format(sym) for s in df.columns]
        tots += guys
    #####################################################################
    the = pd.concat(tots, axis=1).astype(np.float32)
    del tots; gc.collect()
    #thing.to_hdf(save_dir + '64/' + fname + '.window.hdf5', key=fname + '.window', mode='w')
    the.to_hdf(pathname.format('window/il32/', '.window'), key='a', mode='w')
    the.makesw().astype(np.float32).to_hdf(pathname.format('window/sw32/', '.window'), key='a', mode='w')
    ###
    o = O(); def_W(o); def_X(o, the, include='wqtl')
    del the; gc.collect()
    the = o.Xwqtl.astype(np.float32)
    del o; gc.collect()
    the.to_hdf(pathname.format('window/sw32/', '.window.wqtl'), key='a', mode='w')
    the.makeil_like(dh).to_hdf(pathname.format('window/il32/', '.window.wqtl'), key='a', mode='w')
    del the; gc.collect()
    print(F, C, 'END')

x3 -93 BEGIN
# flat and before
1
2
3
4
5
7
9
# flat and after
1
2
3
4
5
7
9
# flat and middle
3
5
7
9
11
# triangle and middle
3
5
7
9
11
19
# exp and before
2
3
4
5
7
10
15

/home/ec2-user/Notebooks/g-research-ffc2018/helper/weighted.ipynb:11: RuntimeWarning: invalid value encountered in true_divide
  "import notebook_import_hook\n",

x3 -93 END
xx -93 BEGIN
# flat and before
1
2
3
4
5
7
9
# flat and after
1
2
3
4
5
7
9
# flat and middle
3
5
7
9
11
# triangle and middle
3
5
7
9
11
19
# exp and before
2
3
4
5
7
10
15
xx -93 END

#### new window: winexp, windiff

In [4]:
o = O()
def_W(o)
def_X(o, include='log')

/home/ec2-user/anaconda3/lib/python3.6/site-packages/pandas/core/common.py:701: RuntimeWarning: divide by zero encountered in log
  return func(obj, *args, **kwargs)

In [5]:
Xgint = pd.read_hdf('/big/data/features/sw32/xg.log.zc(-93).mintco0[2,1]')
X3int = pd.read_hdf('/big/data/features/sw32/x3.log.zc(-93).mintco0[2,1]')

In [8]:
for xname, theX in zip(['xo.log.z(1)', 'x3.log.zc(-93).mintco0[2,1]', 'xg.log.zc(-93).mintco0[2,1]'],
                       [o.Xlogz1, X3int, Xgint]):
    gc.collect()
    print(xname, 'BEGIN')
    save_dir = big_dir + 'data/features/' # <1////////////
    pathname = save_dir + '{}' + xname + '{}'
    ######################################################################
    tots = []
    print('# exp and before')
    for n in [5, 20]:
        print(n)
        form = '.window(<{}>*!{})'
        alpha = 2 / (n + 1)
        avg = theX.ewm(span=n, min_periods=1, adjust=False).mean().shift(1)
        plus = 0#(theX * alpha + avg * (1 - alpha)).colname_append(form.format(n, '+'), level=0)
        diff = (theX - avg).colname_append(form.format(n, '-'), level=0)
        tots += [diff]
        del avg, plus, diff; gc.collect()
    print('# exp and after')
    for n in [5, 20]:
        print(n)
        form = '.window(!*<{}>{})'
        alpha = 2 / (n + 1)
        theX.sort_index(ascending=False, inplace=True)
        avg = theX.ewm(span=n, min_periods=1, adjust=False).mean().shift(1)
        theX.sort_index(ascending=True, inplace=True)
        avg.sort_index(ascending=True, inplace=True)
        plus = 0#(theX * alpha + avg * (1 - alpha)).colname_append(form.format(n, '+'), level=0)
        diff = (theX - avg).colname_append(form.format(n, '-'), level=0)
        tots += [diff]
        del avg, plus, diff; gc.collect()
    #####################################################################
    the = pd.concat(tots, axis=1).astype(np.float32)
    del tots; gc.collect()
    #the.to_hdf(pathname.format('window/sw32/', '.winexp'), key='a', mode='w')
    ###
    meh = O(); def_W(meh); def_X(meh, the.makeil_like(dh), include='wqtl wnrm')
    the.astype(np.float32).to_hdf(pathname.format('window/sw32/', '.windiff'), key='a', mode='w')
    del the; gc.collect()
    meh.Xwqtl.astype(np.float32).to_hdf(pathname.format('window/sw32/', '.windiff.wqtl'), key='a', mode='w')
    meh.Xwnrm.astype(np.float32).to_hdf(pathname.format('window/sw32/', '.windiff.wnrm'), key='a', mode='w')
    del meh; gc.collect()
    print(xname, 'END')

xo.log.z(1) BEGIN
# exp and before
5
20
# exp and after
5
20

/home/ec2-user/Notebooks/g-research-ffc2018/helper/weighted.ipynb:11: RuntimeWarning: invalid value encountered in true_divide
  "import notebook_import_hook\n",
/home/ec2-user/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1901: RuntimeWarning: invalid value encountered in greater
  cond1 = (0 < q) & (q < 1)
/home/ec2-user/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1901: RuntimeWarning: invalid value encountered in less
  cond1 = (0 < q) & (q < 1)

xo.log.z(1) END
x3.log.zc(-93).mintco0[2,1] BEGIN
# exp and before
5
20
# exp and after
5
20
x3.log.zc(-93).mintco0[2,1] END
xg.log.zc(-93).mintco0[2,1] BEGIN
# exp and before
5
20
# exp and after
5
20
xg.log.zc(-93).mintco0[2,1] END

#### xgboost extra windows

In [18]:
for xname, theX in zip(['xo.log.z(1)', 'x3.log.zc(-93).mintco0[2,1]', 'xg.log.zc(-93).mintco0[2,1]'],
                       [o.Xlogz1, X3int, Xgint]):
    gc.collect()
    print(xname, 'BEGIN')
    save_dir = big_dir + 'data/features/' # <1////////////
    pathname = save_dir + '{}' + xname + '{}'
    ######################################################################
    tots = []
    print('# gaussian')
    for n in [5, 20]:
        print(n)
        form = '.window(<@{}@>{})'
        avg = theX.rolling(3 * n, min_periods=3, center=True, win_type='gaussian').mean(std=n / 2)
        sum = theX.rolling(3 * n, min_periods=3, center=True, win_type='gaussian').sum(std=n / 2)
        plus = (avg + theX * 0).colname_append(form.format(n, '+'), level=0)
        other = (sum - theX) / (sum / avg - 1)
        diff = (theX - other).colname_append(form.format(n, '-'), level=0)
        tots += [plus]
    #####################################################################
    the = pd.concat(tots, axis=1).astype(np.float32)
    del tots; gc.collect()
    ###
    the.to_hdf(pathname.format('window/sw32/', '.nrmplus'), key='a', mode='w')
    the = the.makeil_like(dh)
    the.to_hdf(pathname.format('window/il32/', '.nrmplus'), key='a', mode='w')
    meh = O(); def_W(meh); def_X(meh, the, include='wqtl')
    del the; gc.collect()
    the = meh.Xwqtl.astype(np.float32)
    the.to_hdf(pathname.format('window/sw32/', '.nrmplus.wqtl'), key='a', mode='w')
    the.makeil_like(dh).to_hdf(pathname.format('window/il32/', '.nrmplus.wqtl'), key='a', mode='w')
    del the, meh; gc.collect()
    print(xname, 'END')

xo.log.z(1) BEGIN
# gaussian
5
20
xo.log.z(1) END
x3.log.zc(-93).mintco0[2,1] BEGIN
# gaussian
5
20
x3.log.zc(-93).mintco0[2,1] END
xg.log.zc(-93).mintco0[2,1] BEGIN
# gaussian
5
20
xg.log.zc(-93).mintco0[2,1] END

### testing:

In [32]:
test = dh[dh.Stock == 0][feats].iloc[140:150]
test = (np.random.randint(0, 100, size=test.shape) + test * 0).astype(int)

In [33]:
for i in range(7):
    test.iloc[i, i: i + i + 1] = np.nan
test

         x0    x1    x2    x3    x4    x5    x6
Index
92340   NaN  20.0  60.0  42.0  19.0  55.0   3.0
92748  41.0   NaN   NaN   2.0   6.0  18.0  67.0
93159  51.0  22.0   NaN   NaN   NaN  24.0  80.0
93569  77.0  77.0  36.0   NaN   NaN   NaN   NaN
93981  54.0  43.0   3.0  98.0   NaN   NaN   NaN
94389  44.0  28.0  77.0   2.0  85.0   NaN   NaN
94808  46.0   7.0  78.0  60.0  75.0  14.0   NaN
95232  45.0  34.0  54.0  86.0  17.0  20.0  68.0
96076  97.0  15.0  10.0  90.0  53.0  42.0  20.0
96918   2.0  82.0  45.0  39.0   3.0  52.0   0.0

In [57]:
test.rolling(4, 1).mean().shift(1) # the mean of before not including up to
test.rolling(4, 1).mean().shift(-4) # the mean of after not including current
test.rolling(3, 3, center=True).mean() # the mean of after not including current
test.rolling(3, 3, center=True, win_type='triang').mean()

          x0     x1     x2     x3    x4     x5     x6
Index
92340    NaN    NaN    NaN    NaN   NaN    NaN    NaN
92748    NaN    NaN    NaN    NaN   NaN  28.75  54.25
93159  55.00    NaN    NaN    NaN   NaN    NaN    NaN
93569  64.75  54.75    NaN    NaN   NaN    NaN    NaN
93981  57.25  47.75  29.75    NaN   NaN    NaN    NaN
94389  47.00  26.50  58.75  40.50   NaN    NaN    NaN
94808  45.25  19.00  71.75  52.00  63.0    NaN    NaN
95232  58.25  22.50  49.00  80.50  40.5  24.00    NaN
96076  60.25  36.50  29.75  76.25  31.5  39.00  27.00
96918    NaN    NaN    NaN    NaN   NaN    NaN    NaN

In [34]:
test.ewm(span=3, adjust=False).mean()

              x0         x1         x2     x3         x4         x5         x6
Index
92340        NaN  20.000000  60.000000  42.00  19.000000  55.000000   3.000000
92748  41.000000  20.000000  60.000000  22.00  12.500000  36.500000  35.000000
93159  46.000000  21.333333  60.000000  22.00  12.500000  30.250000  57.500000
93569  61.500000  49.166667  40.800000  22.00  12.500000  30.250000  57.500000
93981  57.750000  46.083333  21.900000  82.80  12.500000  30.250000  57.500000
94389  50.875000  37.041667  49.450000  42.40  76.944444  30.250000  57.500000
94808  48.437500  22.020833  63.725000  51.20  75.972222  15.805556  57.500000
95232  46.718750  28.010417  58.862500  68.60  46.486111  17.902778  67.382353
96076  71.859375  21.505208  34.431250  79.30  49.743056  29.951389  43.691176
96918  36.929688  51.752604  39.715625  59.15  26.371528  40.975694  21.845588

##### repeat

In [4]:
test = dh[dh.Stock == 0][feats].iloc[140:150]
test = (np.random.randint(0, 100, size=test.shape) + test * 0).astype(int)

In [5]:
for i in range(7):
    test.iloc[i, i: i + i + 1] = np.nan
test

Feature    x0    x1    x2   x3g    x4    x5
Index
92340     NaN  85.0  89.0  40.0  64.0  84.0
92748    34.0   NaN   NaN  21.0  91.0  53.0
93159    10.0  92.0   NaN   NaN   NaN  48.0
93569    60.0  69.0  13.0   NaN   NaN   NaN
93981     2.0  81.0  55.0  94.0   NaN   NaN
94389    46.0  46.0  38.0  73.0  73.0   NaN
94808    36.0  76.0  43.0  37.0  55.0   9.0
95232    35.0  83.0  77.0  82.0  84.0  82.0
96076    58.0  98.0  57.0  21.0  60.0  66.0
96918    68.0  41.0  63.0  49.0  97.0  23.0

In [6]:
testr = test.sort_index(ascending=False)
testr

Feature    x0    x1    x2   x3g    x4    x5
Index
96918    68.0  41.0  63.0  49.0  97.0  23.0
96076    58.0  98.0  57.0  21.0  60.0  66.0
95232    35.0  83.0  77.0  82.0  84.0  82.0
94808    36.0  76.0  43.0  37.0  55.0   9.0
94389    46.0  46.0  38.0  73.0  73.0   NaN
93981     2.0  81.0  55.0  94.0   NaN   NaN
93569    60.0  69.0  13.0   NaN   NaN   NaN
93159    10.0  92.0   NaN   NaN   NaN  48.0
92748    34.0   NaN   NaN  21.0  91.0  53.0
92340     NaN  85.0  89.0  40.0  64.0  84.0

In [7]:
testr.ewm(span=3, adjust=False).mean()

Feature         x0         x1        x2       x3g         x4         x5
Index
96918    68.000000  41.000000  63.00000  49.00000  97.000000  23.000000
96076    63.000000  69.500000  60.00000  35.00000  78.500000  44.500000
95232    49.000000  76.250000  68.50000  58.50000  81.250000  63.250000
94808    42.500000  76.125000  55.75000  47.75000  68.125000  36.125000
94389    44.250000  61.062500  46.87500  60.37500  70.562500  36.125000
93981    23.125000  71.031250  50.93750  77.18750  70.562500  36.125000
93569    41.562500  70.015625  31.96875  77.18750  70.562500  36.125000
93159    25.781250  81.007812  31.96875  77.18750  70.562500  46.680556
92748    29.890625  81.007812  31.96875  32.23750  88.729167  49.840278
92340    29.890625  83.669271  77.59375  36.11875  76.364583  66.920139